@import "src/App.scss";
.About{
    position:relative;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 50vh;
    width: 50%;
    margin: 0 auto;
    margin: 10vh auto;
    h1{
        color: red;
        position: absolute;
        top:6rem;
        left: -7rem;
        font-size: 3rem;
        font-weight: 100;
        z-index: 0;
    }
    img{
        z-index: 1;
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
        -webkit-box-shadow: 3px 6px 26px 9px $logo-background-color;
-moz-box-shadow: 3px 6px 26px 9px $logo-background-color;
box-shadow: 3px 6px 26px 9px $logo-background-color;
    }
    .about-text{
        margin: 2rem;
        h2{
            font-size: 2rem;
            font-weight: 200;
            letter-spacing: 2px;
            color: $logo-background-color;
            margin-bottom: .5rem;
        }
        h4{
            font-size:1.5rem;
            text-transform: capitalize;
            margin-bottom: .5rem;
            color: $logo-background-color;
            font-weight: 100;
        }
        p{
            color: $logo-background-color;

        }
    }
}
