@import "src/App.scss";
.Header {
    margin: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 0 auto;

    li {
        padding: 1.5rem;
        text-decoration: underline;
        font-size: 1.3rem;
        font-weight: 200;
        letter-spacing: 1.2px;
        padding-top:2.5rem;
       transition: all 0.3s linear;
            &:hover{
                text-decoration: line-through;
                cursor: pointer;
            }
    }

    h1 {
        margin-left: 1rem;
        color: $logo-color;
        border-radius: 50%;
        background-color: $logo-background-color;
        padding:2.5rem;
        margin:2rem;
        letter-spacing: 2px;
        font-weight: 100;
        font-size:2.5rem;
    }
}

.nav {
    color: $nav-color;
    list-style: none;
    display: flex;
    text-transform: capitalize;
    margin-right: 1rem;
        margin:2rem;


}