.container{
    display: flex;
    flex-direction: row;
    align-items:center;
justify-content: flex-start;
    background-color:rgb(238,238,238);
    font-size: 1.2rem;
margin-bottom: 1rem;
width: 30%;
p{
align-content:flex-end;
  
}
.fill{
    display: flex;
    align-items:center;
    align-self: center;
align-content:center;

}
    .tag{
        background-color:red;
        width: 9rem;
        height: 2rem;
        padding-left: 2rem;
    align-self: center;

    }
    .html, .scss{
        background-color: rgb(5,161,167);
        width: 90%;
    }
    .react, .javascript{
        background-color: rgb(5,161,167);
        width: 80%;
    }
    .node{
        background-color: rgb(5,161,167);
        width: 50%;
    }
    span{
        float: right;
        display:block;
    }
  
}